*.1
*.o
.deps
.dirstamp
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/xdg-dbus-proxy
/xdg-dbus-proxy-*.tar.xz
Makefile
Makefile.in
