*.1
*.log
*.o
*.trs
.deps
.dirstamp
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux/*
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/m4/
/missing
/stamp-h1
/test-proxy
/test-suite.log
/xdg-dbus-proxy
/xdg-dbus-proxy-*.tar.xz
Makefile
Makefile.in

!/build-aux/glib-tap.mk
!/build-aux/tap-test
!/m4/glibtests.m4
