.deps
*.o
INSTALL
Makefile
Makefile.in
autom4te.cache/
/build-aux/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
xdg-dbus-proxy
aclocal.m4
.dirstamp
